<!DOCTYPE html>
           <html lang="en">
           <head>
           	<meta charset="UTF-8">
           	<title>Document</title>
           </head>
           <body>
           	<h1>hi</h1>
           	<div>I'm hungry</div>
           	<a href="">kyle</a>
           	<script>
           		
           		function hello(b,a){
           			let add = b + a
           			console.log (typeof'hi caine')
           		}
           		hello(5,5);

           	</script>
           </body>
           </html>           